<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>App</title>
    </head>
    <body style="padding:20px;">
        <p>
            <a href="{{ url_for('list_categories') }}">
                <button type="button" style="background:#dcdbdb;color:rgb(96, 87, 87);cursor: pointer;">Categorias</button> 
            </a>
        </p>
        <p>
            <a href="{{ url_for('list_retailers') }}">
                <button type="button" style="background:#dcdbdb;color:rgb(96, 87, 87);cursor: pointer;">Retalhistas</button> 
            </a>
        </p>
        <p>
            <a href="{{ url_for('list_ivms') }}">
                <button type="button" style="background:#dcdbdb;color:rgb(96, 87, 87);cursor: pointer;">IVMS</button> 
            </a>
        </p>
    </body>
</html>
