<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>App-Retalhistas</title>
    </head>
    <body style="padding:20px">
        <h2>Retalhistas</h2>
        <a href="{{ url_for('create_retailer') }}">
            <button type="button" style="background:#2e68b8;color:white;cursor: pointer;">Inserir retalhista</button> 
        </a>
    {% if cursor %}
        <table border="2px">
            <thead>
                <tr>
                    <th>Tin Retalhista</th>
                    <th>Nome Retalhista</th>
                    <th>Nome Categoria</th>
                    <th>Num Serie IVM</th>
                    <th>Fabricante IVM</th>
                </tr>
            </thead>
            <tbody>
                {% for record in cursor %}
                    <tr>
                        <td>{{ record[0] }}</td>
                        <td>{{ record[1] }}</td>
                        <td>{{ record[2] }}</td>
                        <td>{{ record[3] }}</td>
                        <td>{{ record[4] }}</td>
                        <td style="border:none;">
                            <a href="{{ url_for('remove_retailer', tin=record[0]) }}">
                                <button type="button" style="background:#cb1e20;color:white;cursor: pointer;">Remover</button> 
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> Erro: não foi possível obter dados da base de dados!</p>
    {% endif %}
    <p>
        <a href="{{ url_for('index') }}">
            <button type="button" style="background:#b5b5b5;color:white;cursor: pointer;">Go To Homepage</button> 
        </a>
    </p>
    </body>
</html>
